__pycache__

vllm_plugin.egg-info

3rdparty/triton
3rdparty/triton_kernels
3rdparty/cmake-3.29.6
3rdparty/lm-evaluation-harness/ 


tmp/
tmp/_local_remotes/
_local_remotes/

datasets
3rdparty/vllm.BACKUP.20251217_090110