version: '3.8'

services:
  gptoss-plugin-vllm0.8.2:
    image: 192.168.162.66:8888/opt:3.2-rc1-ubuntu22.04-py310-torch2.6 
    container_name: gptoss-plugin-vllm0.8.2
    working_dir: /home/tester/phucnguyen
    volumes:
      - /home/tester/phucnguyen:/home/tester/phucnguyen
      - /home/tester/data:/home/tester/data

      - ../3rdparty/vllm:/usr/local/lib/python3.10/dist-packages/vllm

    # ipc: host
    network_mode: host
    privileged: true
    command: /bin/bash -c "while true; do sleep 3600; done"
    restart: "no"        # Matches --rm behavior